.Contact {
  width: 400px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}

.Contact .control {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Contact .control button {
  background: white;
  margin: 4px;
  border-radius: 2px;
  padding: 5px 10px;
}

.Contact .control .delete {
  border: 2px solid rgb(90, 57, 57);
}

.Contact .control .edit {
  border: 2px solid rgb(41, 85, 204);
}

.Contact .control .delete:hover {
  background: rgb(148, 25, 25);
  color: white;
}

.Contact .control .edit:hover {
  background: rgb(24, 91, 153);
  color: white;
}

.picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
  margin: 0 20px 0 0;
}

.picture img {
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  .picture {
    width: 50px;
    height: 50px;
  }

  .Contact {
    max-width: 300px;
    padding: 0;
  }

  .Contact p,
  .Contact h3 {
    margin: 5px 0;
  }
}