.ContactAdd {
  width: 100%;
  max-width: 1000px;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.form {
  display: flex;
  flex-flow: column;
  margin: 40px 0;
}

h2 {
  text-align: center;
}

label {
  width: 100%;
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 30px;
  box-sizing: border-box;
}

input:valid {
  border: 1px solid rgb(31, 206, 15);
}

input:invalid {
  border: 1px solid rgb(189, 25, 25);
}

button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid black;
  background: white;
}

button:disabled {
  opacity: .6;
}